{% extends "layout/layout.html.twig" %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('top') }}">Latest</a></li>
        <li><a href="{{ path('random') }}">Random</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <a href="{{ path('logout') }}" class="btn btn-default">Logout</a>
    </form>
    <div class="navbar-text navbar-right">
        {{ username }}
    </div>
{% endblock %}

{% block content %}
    <div class="list-group">

        {% for item in list %}
            <div class="list-group-item" data-item-id="{{ item.item_id }}">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-warning js-do-archive">Archive</button>
                    <button type="button" class="btn btn-sm btn-danger  js-do-delete">Delete</button>
                </div>
                <h4 class="list-group-item-heading">
                    <a href="{{ item.resolved_url }}" target="_blank">
                        {{ item.resolved_title }}
                    </a>
                </h4>
                <p class="list-group-item-text">
                    {{ item.excerpt }}
                </p>
                <p class="list-group-item-text text-warning">
                    <i>{{ item.time_added|date("Y-m-d H:i:s") }}</i>
                </p>
            </div>
        {% endfor  %}

    </div>
{% endblock %}
