{% extends "layout/layout.html.twig" %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('top') }}">Latest</a></li>
        <li><a href="{{ url_for('random') }}">Random</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <a href="{{ url_for('logout') }}" class="btn btn-default">Logout</a>
    </form>
    <div class="navbar-text navbar-right">
        {{ username }}
    </div>
{% endblock %}

{% block content %}
    <div class="list-group">

        {% for item in list %}
            <div class="list-group-item" data-item-id="{{ item.item_id }}">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-warning js-do-archive">Archive</button>
                    <button type="button" class="btn btn-sm btn-danger  js-do-delete">Delete</button>
                </div>
                <h4 class="list-group-item-heading">
                    <a href="{{ item.resolved_url }}" target="_blank">
                        {% if item.resolved_title %}
                            {{ item.resolved_title }}
                        {% else %}
                            <i>no title</i>
                        {% endif %}
                    </a>
                </h4>
                <p class="list-group-item-text">
                    {{ item.excerpt }}
                </p>
                <p class="list-group-item-text text-warning" style="margin:8px 0 0 8px">
                    <i>
                        Added: {{ item.time_added|date("Y-m-d H:i:s") }}
                        {% if item.time_added != item.time_updated %}
                            -> Updated: {{ item.time_updated|date("Y-m-d H:i:s") }}
                        {% endif %}
                    </i>
                </p>
                {% if item.word_count or item.listen_duration_estimate %}
                    <p class="list-group-item-text text-warning" style="margin:2px 0 0 8px">
                        <i>
                            {{ item.word_count }} word ...
                            {{ (item.listen_duration_estimate / 90) | round }} min
                        </i>
                    </p>
                {% endif %}
            </div>
        {% endfor  %}

    </div>
{% endblock %}
